model/myvenv/
model/runs/
model/all_data/
model/data/
model/charecter_detection/all_data/
model/charecter_detection/all_data/New Data
model/charecter_detection/all_data/New Data 2
model/charecter_detection/data/
model/charecters/
frontend/node_modules/
frontend/__pycache__/
frontend/artifacts/
frontend/frame.jpg
runs/
model/plate_detection_try_1/
model/plate_detection_try_2/
model/plate_detection_try_3/
model/plate_detection_try_4/
model/keras_ocr/
model/val/
model/myenv/
model/test.ipynb
frame.jpg
frame2.jpg