<!DOCTYPE html>
<html id="main" lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/build.css') }}"> -->

    <!-- main css  -->
    <link rel="stylesheet" href="../static/css/build.css">

    <title>Dashboard</title>
    
</head>
<body class="dark:bg-blue-950 transition-colors duration-1000">

    <!-- navbar -->
    <nav class="flex justify-between w-[90%] mx-auto">
        <div class="title text-5xl font-bold px-5 pt-10 dark:text-white transition-colors duration-1000">Dashboard</div>
        <div id="moon" class="mode px-5 pt-10"><button type="button" onclick="toggleDarkMode()"><ion-icon name="moon" class="dark:text-white transition-colors duration-1000" size="large"></ion-icon></button></div>
    </nav>
    <!-- End of navbar -->

    <!-- video  -->
    <div class="flex flex-col lg:flex-row gap-8 w-[90%] mx-auto mt-[2.5%]">
        <div class="left w-full lg:w-3/5 ">
            <div class="aspect-video  bg-blue-950 dark:bg-slate-500 transition-colors duration-1000 ">
                <ion-icon name="videocam-off" size="large" class="dark:text-black text-white transition-colors duration-1000 p-10"></ion-icon>
                <div class="text w-full text-white text-center ">Main Video</div>

                <!-- <img class="aspect-video" src="{{ url_for('video') }}" width="100%"/> -->

            </div>
            
        </div>
        <div class="right w-full lg:w-2/5 ">
            <div class="title text-3xl text-white bg-blue-600 dark:bg-white transition-colors duration-1000 dark:text-blue-900 font-bold text-center w-full py-3">Number Plate Image</div>
            <div class="aspect-video bg-blue-950 dark:bg-slate-500 transition-colors duration-1000">
                <ion-icon name="videocam-off" size="large" class="dark:text-black text-white transition-colors duration-1000 p-10"></ion-icon>
                <div class="text w-full text-white text-center">License PLate Image/frame</div>

                <!-- <img class="aspect-video" src="{{ url_for('video') }}" width="100%"/> -->
                
            </div>
        </div>
    </div>
    <!-- End of video -->

    <!-- buttons  -->
    <!-- <div class="buttons ml-[10%] mt-10 flex space-x-36">
        <div class="button1"><button type="button" class="px-10 py-5 bg-green-600 text-white font-bold text-lg">button</button></div>
        <div class="button1"><button type="button" class="px-10 py-5 bg-green-600 text-white font-bold text-lg">button</button></div>
        <div class="button1"><button type="button" class="px-10 py-5 bg-green-600 text-white font-bold text-lg">button</button></div>
        <div class="button1"><button type="button" class="px-10 py-5 bg-green-600 text-white font-bold text-lg">button</button></div>
        <div class="button1"><button type="button" class="px-10 py-5 bg-green-600 text-white font-bold text-lg">button</button></div>
    </div> -->
    <!-- End of button -->

    <!-- ion-icon scripts -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- javascipts -->
    <script src="../static/js/script.js"></script>
    <!-- <script src="{{ url_for('static', filename='/js/script.js') }}"></script> -->

</body>



</html>